body *{
    position: absolute;
    overflow: hidden;
    /* filter: drop-shadow(-5px 5px 1px rgba(0, 0, 0, 0.5)); */
    background-blend-mode: overlay;
    /* background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)); */
    color: rgb(255, 165, 0);
}

#darkness{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: -999999999999999999;
}

html, body{
    height: 0%;
    width: 0%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
#stats *{
    position: relative;
}
/* Normal terrain render */
.terrain{
    z-index: 999;
}

/* Room terrain render */
body.room .terrain.room{
    /* make the element look darker through filters */
    filter: brightness(0.5) !important;
    z-index: 0 !important;
}
body.room .terrain.inRoom{
    filter: brightness(0.8) !important;
}
/* terrain render when outside of the room */
body.room .terrain{
    /* make the element look darker through filters */
    filter: brightness(0) !important;
}




/* Normal player render */
.player{
    z-index: 9999999;
}

/* The player render when outside of the room */
body.room .player{
    filter: brightness(0.05) !important;
}
/* The player render when inside of the room */
body.room .player.room{
    filter: brightness(0.8) !important;
}




.backdrop{
    background: green;
}



.glow{
    animation: glow 2s linear infinite alternate;
}
/* Example CSS for light patches */
.light {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.1) 60%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none; /* Ensure the light patch doesn't interfere with other elements */
    mix-blend-mode: screen; /* Blend mode to create lighting effect */
    z-index: 9999999999;
}
body.room .light{
    display: none;
}


@keyframes glow{
    0%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
    100%{
        filter: hue-rotate(0deg);
    }
}    

.OP{
    animation: OP 2s linear infinite alternate;
}

@keyframes OP{
    0%{
        filter: drop-shadow(0px 0px 10px red) hue-rotate(0deg);
    }
    10%{    
        filter: drop-shadow(0px 0px 10px orange) hue-rotate(50deg);
    }
    20%{
        filter: drop-shadow(0px 0px 10px yellow) hue-rotate(100deg);
    }
    30%{
        filter: drop-shadow(0px 0px 10px green) hue-rotate(150deg);
    }
    40%{
        filter: drop-shadow(0px 0px 10px lightgreen) hue-rotate(200deg);
    }
    50%{
        filter: drop-shadow(0px 0px 10px lightblue) hue-rotate(250deg);
    }
    60%{
        filter: drop-shadow(0px 0px 10px blue) hue-rotate(200deg);
    }
    70%{
        filter: drop-shadow(0px 0px 10px indigo) hue-rotate(150deg);
    }
    80%{
        filter: drop-shadow(0px 0px 10px violet) hue-rotate(100deg);
    }
    90%{
        filter: drop-shadow(0px 0px 10px purple) hue-rotate(50deg);
    }
    100%{
        filter: drop-shadow(0px 0px 10px pink) hue-rotate(0deg);
    }
}

.cursed{
    animation: cursed 0.5s linear infinite alternate;
}

@keyframes cursed{
    0%{
        filter: drop-shadow(0px 0px 5px #000000);
    }
    100%{
        filter: drop-shadow(0px 0px 10px #000000);
    }
}

.superPower{
    animation: superPower 0.5s linear infinite alternate;
}

@keyframes superPower{
    0%{
        filter: brightness(100%);
    }
    50%{
        filter: brightness(200%);
    }
    100%{
        filter: brightness(100%);
    }
}



.poison{
    animation: poison 0.5s linear infinite alternate;
}

@keyframes poison{
    0%{
        filter: invert(0%);
    }
    50%{
        filter: invert(100%);
    }
    100%{
        filter: invert(0%);
    }
}